$mainColor : rgb(250, 251, 255);
$buttonsColor : rgb(0, 0 , 0);
$hoverButtons : rgb(0, 155, 140);
a{
  text-decoration: none;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}

.content {
  margin-top: 80px;
}

.container {
  width: 100%;
}
.section {
  min-height: 600px;
  width: calc(100% - 50px);
  padding: 0 25px;
  background: red;
}

.header{
  font-size: larger;
  min-height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: -1px 23px 46px -28px #000000;
  background: $mainColor;
}

.logo{
  height: 39px;
  width: 76px;
  padding: 15px 10px 10px;
  margin-left: 5%;
  float:left;
}

.menu{
  width: calc(95% - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    display:inline-block;
    a {
      margin-right: 25px;
      display: block;
      font-size:0.85em;
      color:$buttonsColor;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-family: Georgia, 'Times New Roman', Times, serif;
      &:hover {
        cursor: pointer;
        color:$hoverButtons;
      }
    }
  }
}

.toggleMenu {
  display:  none;
  border-radius:2em;
  -webkit-border-radius:2em;
  -moz-border-radius:2em;
  -o-border-radius:2em;
}
@media screen and (min-width:1001px) {
  .nav {
    opacity: 1!important;
    visibility: visible!important;
  }
}
@media screen and (max-width:1000px) {
  .menu {
    display: inherit;
    margin:10px 0;
    li {
      a {
        margin-right: 0;
        text-align:left;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
      }
    }
    ul {
      margin:0;
    }
  }
  .active {
    display: block;
  }
  .toggleMenu {
    position: absolute;
    right: 25px;
    top: 25px;
    display: inherit;
    float: right;
  }
  .nav {
    opacity:0;
    visibility: hidden;
    transition: all 0.4s ease;
    font-size: medium;
    list-style: none;
    *zoom: 1;
    width:180px;
    position: fixed;
    right:0px;
    top:80px;
    z-index: 9999;
    li {
      float: none;
      display:block;
      ul {
        width:100%;
      }
      a {
        padding: 5px;
        background:#fff;
        color:#384254;
        &:hover {
          cursor: pointer;
          color: black;
          background-color:$hoverButtons;
        }
      }
    }
  }
}
