a{
  text-decoration: none;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}

.content {
  margin-top: 80px;
}

.container {
  width: 100%;
}
.section {
  min-height: 600px;
  width: calc(100% - 50px);
  padding: 0 25px;
  background: red;
  border-bottom: 1px solid black;
}

.header{
  font-size: larger;
  min-height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background:green;
}

.logo{
  height: 39px;
  width: 76px;
  padding: 15px 10px 10px;
  float:left;
}

.menu{
  width: calc(100% - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.menu li{
  display:inline-block;
}
.menu li:first-child{
  margin-left:0;
}
.menu li a{
  margin-right: 10px;
  display: block;
  font-size:0.85em;
  color:#fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
#nav .current a {
  color:#fb326f;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu li a:hover ,.menu li.active a{
  cursor: pointer;
  color:#fb326f;
}
.toggleMenu {
  display:  none;
  border-radius:2em;
  -webkit-border-radius:2em;
  -moz-border-radius:2em;
  -o-border-radius:2em;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav ul {
  list-style: none;
}
@media screen and (max-width:1000px) {
  .menu {
    display: inherit;
    margin:10px 0;
  }
  .active {
    display: block;
  }
  .toggleMenu {
    position: absolute;
    right: 10px;
    top: 10px;

    display: inherit;
    float: right;
  }
  .menu li a{
    margin-right: 0;
    text-align:left;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
  }
  .nav {
    font-size: medium;
    display: none;
    list-style: none;
    *zoom: 1;
    width:180px;
    position: fixed;
    right:0px;
    top:80px;
    z-index: 9999;
  }
  .menu li a span.messages{
    text-align:center;
    top:15px;
  }
  .nav li ul{
    width:100%;
  }
  .nav li a{
    padding: 5px;
  }
  .menu ul{
    margin:0;
  }
  .nav > li.hover > ul {
    width:100%;
  }
  .nav > li {
    float: none;
    display:block;
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav > li.hover > ul , .nav li li.hover ul {
    position: static;
  }
  .nav li a{
    border-top:1px solid #eee;
    background:#fff;
    color:#384254;
  }
  .nav li:first-child a{
    border-top:none;
  }
}
